.flex {
  display: flex;
  flex-direction: row
}

.scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card1 {
  display: inline-block;
  text-align: center;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.cursor {
  cursor: pointer;
}

.display-middle {
  align-items: center;
  display: flex;
  flex-direction: column;
}