<div class="row">
  <div *ngIf="pokemonList as list" class="col-sm-12 col-md-7 mt-5">
    <nav aria-label="">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': showPrevious}">
          <a class="page-link cursor" tabindex="-1" (click)="previous()"
            [ngClass]="{'disabled': showPrevious}">Anterior</a>
        </li>
        <li class="page-item">
          <a class="page-link cursor" (click)="onlyFavorites()">Apenas favoritos</a>
        </li>
        <li class="page-item">
          <a class="page-link cursor" (click)="reset()">Reset</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': showNext}">
          <a class="page-link cursor" (click)="next()"
            [ngClass]="{'disabled': showNext}">Próximo</a>
        </li>
      </ul>
    </nav>
    <table class="table table-borderless table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Favorito</th>
          <th scope="col">Nome</th>
          <th scope="col">Altura (cm)</th>
          <th scope="col">Peso (Kg)</th>
          <th scope="col">Experiência base</th>
          <th scope="col">Quantidade de habilidades</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of list" style="cursor: pointer;" (click)="favorite(pokemon)"
          (mouseenter)="mouseEnter(pokemon)">
          <th scope="row">{{pokemon.id}}</th>
          <td *ngIf="pokemon['isFavorite']; else notFavorite">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg" style="color: #ff9a00">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
          </td>
          <ng-template #notFavorite>
            <td>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="color: #ff9a00">
                <path fill-rule="evenodd"
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
              </svg>
            </td>
          </ng-template>
          <td>{{pokemon.name | titlecase}}</td>
          <td>{{pokemon.height | decToCm}}</td>
          <td>{{pokemon.weight | hectoToKg}}</td>
          <td>{{pokemon.base_experience}}</td>
          <td>{{pokemon.moves.length}}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': showPrevious}">
          <a class="page-link cursor" tabindex="-1" (click)="previous()"
            [ngClass]="{'disabled': showPrevious}">Anterior</a>
        </li>
        <li class="page-item">
          <a class="page-link cursor" (click)="onlyFavorites()">Apenas favoritos</a>
        </li>
        <li class="page-item">
          <a class="page-link cursor" (click)="reset()">Reset</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': showNext}">
          <a class="page-link cursor" (click)="next()"
            [ngClass]="{'disabled': showNext}">Próximo</a>
        </li>
      </ul>
    </nav>
  </div>
  <div *ngIf="pokemonViewed" class="col-sm-12 col-md-3 mt-5 display-middle" style="background-color: lightblue; height: fit-content;">
    <img [src]="pokemonViewed.sprites.front_default" alt="">
    <div class="font-weight-bold">{{pokemonViewed.name | uppercase}}</div>
    <table class="table table-borderless table-hover mt-1">
      <tbody>
        <tr *ngFor="let stat of pokemonViewed.stats">
          <td class="font-weight-bold">{{stat.stat.name | uppercase}}</td>
          <td class="">{{stat.base_stat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div *ngIf="pokemonList | async as list" class="">
  <div class="col-sm-1 col-md-8 offset-md-2" style="margin-top: 10%;">
    <div class="scroll-wrapper flex container">
      <div *ngFor="let item of list">
        <div class="card1 ml-2 mr-2">
          <img class="" [src]="item.sprites.front_default" alt="">
          <div>{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->